/*--------------------------------General--------------------------------------*/
h1{
    font-family: "chaloops", sans-serif;
font-weight: 700;
font-style: normal;
font-size: 2em;
text-align: center;
padding-top: 30px;
}

p{
    font-family: "geller-text", serif;
font-weight: 400;
font-style: normal;
}

#main{
    height: 60vh;
    position: relative;
}

/*--------------------------------WeatherCodeClasses--------------------------------*/
.clear{
    background-color: rgb(127, 225, 255);
    color: rgb(243, 243, 243);
}

.overcast{
    background-color: rgb(204, 218, 223);
}

.fog{
    background-color: rgb(181, 203, 209)
}

.drizzle{
    background-color: rgb(109, 109, 109);
}

.freezingRain{
    background-color: rgb(105, 124, 146);
}

.snow{
    background-color: rgb(167, 208, 243);
}

.rain {
    background-color: rgb(204, 218, 223);
}

.thunderstorm{
    background-color: rgb(56, 56, 56);
    color: rgb(243, 243, 243);;
}

.hell{
    background-color: rgb(153, 0, 0);
}

/*-----------------------Clear Sky---------------------------------------*/
#sun{
    position: absolute;
    top: 20%; /*Range from 100 (below horizon) to 20% (midday)*/
    left: 70%; /*Range from 10 (morning) to 70 (evening)*/
    width: 130px;
    height: 130px;
}